@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar {
    @apply overflow-auto scrollbar-hide;
  }
}

/* Removes the innate scrollbar on a number input field */
@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

/* Prevents scrollbar from pushing content to the left */
html {
  width: 100vw;
  overflow-x: hidden;
}

/*Scrollbar color change */
:root {
  --scrollbarBG: #5cce71; /* green */
  --secondary: #21292d; /* black */
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarBG) var(--secondary);
}
